@import 'components/dashboard';
@import 'components/header';
@import 'components/search';
@import 'components/roadmap';
@import 'components/notification';
@import 'components/forms';
@import 'components/btns';
@import 'components/contacten';
@import 'components/community';
@import 'components/signup';
@import 'components/auth';
@import 'components/chat';
@import 'abstracts/colors';
@import 'abstracts/fonts';

body{
    background-color: $background;
}

*{
    font-family: $normal;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
}

strong{
    font-weight: bold;
}

@media(min-width: 800px){
    .container{
        display: grid;
        grid-template-columns: 3fr 9fr;
    }
}


