@import '../abstracts/colors';
@import '../abstracts/fonts';

.auth{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    padding:20% 5% 20% 5%;
}

.auth__title{
    text-align: center;
    font-family: $title;
    color: $blue;
    font-size: 24px;
}

.auth__info{
    margin-top:50px;
    display:flex;
    flex-direction: column;
}

.auth__info__title{
    font-family: $normal;
}

.auth__info__title--bold{
    font-weight: bold;
    margin-top:20px;
    text-align:center;
}

.auth__info__img{
    margin-top:20px;
    display:flex;
    align-items: center;
    justify-content:center;
}

.auth__btn{
    display:flex;
    align-items: center;
    margin-top:25px;
    justify-content:center;
}

.auth__btn a button{
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: white;
    background-color: #13204A;
    border-radius: 40px 40px 40px 40px;
    border:none;
    padding: 10px 20px 10px 25px;
}

@media(min-width:800px){
    .auth{
        padding:5%;
    }

    .auth__info{
        align-items: center;
    }
}