@import '../abstracts/colors';
@import '../abstracts/fonts';


.formBtn{
    width:100%;
    border:none;
    padding: 5%;
    color: $blue;
    font-family:$title;
    border-radius: 20px;
    background-color: $darkgray;
    font-size:20px;
}

.formBtn:hover{
    cursor:pointer;
}

.btn{
    padding: 5% 15%;
    background-color: $darkgray;
    color: $blue;
    font-family: $normal;
    text-decoration: none;
    border-radius: 15px;
}

.addPost__btn{
    border:none;
    background-color: $darkblue;
    color:white;
    font-family: $title;
    padding: 20px 40px;
    border-radius: 20px;
    font-size: 18px;
}

@media(min-width: 800px){
    .formBtn{
        padding: 2%;
    }
}