.chat__container {
    width: 90%;
    background-color: #CBD3E6;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.chat__container span, .chat__container div, .chat__container input {
    font-family: 'Lato', sans-serif;
}

.chat__list {
    min-width: 300px;
    width: 35%;
    padding: 15px;
}

.chat__detail {
    width: 65%;
    border-radius: 0 20px 20px 0;
    background-color: white;
}

.chat__list__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 15px;
}

.chat__list__heading__h1 {
    color: #13204A;
    margin: 0;
    padding: 0;
}

.chat__list__heading__profile {
    height: 40px;
    margin-right: 10px;
}

.chat__list__heading__new-message {
    display: flex;
    margin-left: auto;
}

.chat__list__heading__new-message img {
    height: 40px;
}

#search-chat {
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    border-radius: 8px;
    padding-left: 35px;
    font-size: 1em;
    padding-bottom: 3px;
}

.chat__search-bar {
    position: relative;
}

.chat__search-bar__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    height: 18px;
}