.chat__container {
    width: 90%;
    background-color: #CBD3E6;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 100%;

    display: flex;
    flex-direction: row;
}

.chat__container span, .chat__container div, .chat__container input {
    font-family: 'Lato', sans-serif;
}

.chat__list {
    min-width: 300px;
    width: 35%;
}

.chat__detail {
    width: 65%;
}

.chat__list__heading__h1 {
    color: #13204A;
}