@import '../abstracts/colors';
@import '../abstracts/fonts';

// community mobile
.comm__container{
    width:90%;
    background-color: $lightgray;
    border-radius: 20px 20px 20px 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;
    padding-top:25px;
    height: 1150px;
}

h1{
    font-family: $title;
    font-weight: bold;
    font-size: 25px;
    color:$orange;
    margin-left: 33.3px;
    padding-bottom: 10px;
}

.edit__icon{
    float: right;
    max-width: 10%;
    max-height: 10%;
    margin-top:-40px;
    margin-bottom: -30px;
    margin-right: 20px;
}

.comm{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto 30px auto;
    text-align: left;
    background-color: $darkgray;
    border-radius: 20px 20px 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;    
}

.comm__blok{
    text-decoration: none;
    color: $darkblue;
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    text-align: left;
}

.comm__blok__title{
    font-family: $title;
    font-weight: bold;
    font-size: 25px;
}

.comm__{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto 30px auto;
    text-align: left;
    background-color: $darkblue;
    border-radius: 20px 20px 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;    
}

.comm__blok__{
    text-decoration: none;
    color: $white;
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    text-align: left;
}

.comm__blok__title__{
    font-family: $title;
    font-weight: bold;
    font-size: 25px;
}

// edit mobile
.edit__container{
    width:90%;
    background-color: $lightgray;
    border-radius: 20px 20px 20px 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;
    padding-top:25px;
    height: 1510px;
}

.back__icon{
    max-width: 20%;
    max-height: 20%;
    margin-top:-100px;
    margin-bottom: -25px;
    margin-left: 10px;
}

.edit{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto 30px auto;
    text-align: left;
    background-color: $darkgray;
    border-radius: 20px 20px 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;    
}

.edit:hover, .edit__:hover{
    cursor:pointer;
}

.edit__blok{
    text-decoration: none;
    color: $darkblue;
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    text-align: left;
}

.edit__blok__title{
    font-family: $title;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.edit__{
    display:flex;
    flex-direction: row;
    align-items: center;
    margin: 10px auto 30px auto;
    text-align: left;
    background-color: $darkblue;
    border-radius: 20px 20px 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    width: 300px;    
}

.edit__blok__{
    text-decoration: none;
    color: $white;
    border-radius: 10px 10px 10px 10px;
    margin: 10px auto 10px auto;
    text-align: left;
}

.edit__blok__title__{
    font-family: $title;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.checked__icon1{
    float: right;
    margin-top:-50px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: -45px;
}

.checked__icon2{
    float: right;
    margin-top:-50px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: -45px;
}

.checked__icon3{
    float: right;
    margin-top:-50px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: -45px;
}

.checked__icon4{
    float: right;
    margin-top:-50px;
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: -45px;
}

.checked__icon5{
    float: right;
    margin-top:-50px;
    margin-left: 200px;
    margin-right: -45px;
}

.unchecked__icon1{
    float: right;
    margin-top:-50px;
    margin-left: 200px;
    margin-right: -38px;
}

.unchecked__icon2{
    float: right;
    margin-top:-50px;
    margin-left: 200px;
    margin-right: -38px;
}

.unchecked__icon3{
    float: right;
    margin-top:-50px;
    margin-left: 200px;
    margin-right: -25px;
}

// detail mobile
.group__container{
    width:90%;
    background-color: $lightgray;
    border-radius: 20px 20px 20px 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;
    padding-bottom: 20px;
}

.group__icon{
    display:grid;
    grid-template-columns: 2fr 6fr;
    align-items: center;
}

.__back__icon__{
    width:100%;
  
}

.group__title{
    margin-left: 0px;
}

.group__blok{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
}



.faq__container{
    width:90%;
    background-color: $lightgray;
    border-radius: 20px 20px 20px 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;
    padding-top:25px;
    padding-bottom: 25px;
    
}

.faq__title{
    font-family: $title;
    font-size: 20px;
    color:$darkblue;
    padding-bottom: 10px;
    margin-left: 30px;
}

.faq{
    margin: 10px auto 30px auto;
    text-align: left;
    background-color: $darkgray;
    border-radius: 20px 20px 20px 20px; 
    padding: 5px 35px 5px 35px;
    width: 90%;
}

.faq__blok{
    display:grid;
    grid-template-columns: 5fr 1fr;
    align-items:center;
}

.question{
    float: left;
    font-family: $normal;
    color: $darkblue;
    font-size: 18px;
}

.faq__answer{
    display:none;
    font-family: $normal;
    margin-bottom:20px;
    margin-top: 20px;
}

.fold__icon{
    width:90%;
    margin-left: 50%;
}

.fold__icon:hover{
    cursor:pointer;
}

.ask{
    display:flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    margin: 10px 0px 30px Opx;
    text-align: center;
    background-color: $darkblue;
    border-radius: 40px 40px 40px 40px;
    background-position: center;
    height: 50px;
    width: 300px;    
}

.ask__question{
    font-family: $normal;
    font-size: 20px;
    color:$white;
    padding-bottom: 10px;
    margin: 35px auto 30px auto;
}

.community__emptytext{
    font-family: $normal;
    color: $blue;
    margin-top: 20px;
    margin-left: 33.3px;
}

.person{
    width: 50px;
    height:50px;
    border-radius: 50%;
}


// community desktop
@media(min-width:800px){
    .comm__container{
        height: 649px;  
        margin-top: 50px; 
    }

    .edit__icon{
        float: right;
        max-width: 7%;
        max-height: 7%;
        margin-top:-45px;
        margin-bottom: -30px;
        margin-right: 30px;
    }   

    h1{
        font-family: $title;
        font-weight: bold;
        font-size: 25px;
        color:$orange;
        margin-left: 40px;
        padding-bottom: 10px;
    }

    .comm{
        float:left;
        text-align: left;
        margin-left: 40px;
        height: 150px;
        width: 270px;    
    }

    .comm__{
        float:left;
        text-align: left;
        margin-left: 40px;
        height: 150px;
        width: 270px;    
    }

// edit desktop
    .edit__container{
        margin-top: 50px;
        height: 649px;  
    }

    .back__icon{
        float: left;
        max-width: 10%;
        max-height: 10%;
        margin-top:-35px;
        margin-bottom: -25px;
        margin-left: 10px;
        margin-right: -70px;
    }

    .groupedit__container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .edit{
        height: 150px;
        width: 270px;    
    }

    .edit__{
        height: 150px;
        width: 270px;    
    }

    .checked__icon1{
        margin-left: 200px;
        margin-right: -15px;
    }

    .checked__icon2{
        margin-left: 200px;
        margin-right: -15px;
    }

    .checked__icon3{
        margin-left: 200px;
        margin-right: -15px;
    }

    .checked__icon4{
        margin-left: 200px;
        margin-right: -15px;
    }

    .checked__icon5{
        margin-left: 200px;
        margin-right: -15px;
    }

    .unchecked__icon1{
        margin-left: 200px;
        margin-right: -15px;
    }

    .unchecked__icon2{
        margin-left: 200px;
        margin-right: -15px;
    }

    .unchecked__icon3{
        margin-left: 200px;
        margin-right: -13px;
    }

    // detail mobile
    .group__container{
        width:90%;
        background-color: $lightgray;
        border-radius: 20px 20px 20px 20px;
        margin-left:auto;
        margin-right:auto;
        margin-top:25px;
        margin-bottom:25px;

    }

    .group__icon{
        display:grid;
        grid-template-columns: 1fr 6fr;
        align-items: center;
    }

    .__back__icon__{
        width:100%;
    
    }

    .group__title{
        margin-left: 0px;
    }

    .group__blok{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display:flex;
        gap:20px;
    }

        

    .faq__container{
        width:90%;
        background-color: $lightgray;
        border-radius: 20px 20px 20px 20px;
        margin-left:auto;
        margin-right:auto;
        margin-top:50px;
        margin-bottom:25px;
        padding-top:25px;
    }

    .ask{
        display:flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0px 50px 27px;
        text-align: center;
        background-color: $darkblue;
        border-radius: 40px 40px 40px 40px;
        background-position: center;
        height: 50px;
        width: 300px;    
    }
    
    .ask__question{
        font-family: $normal;
        font-size: 20px;
        color:$white;
        padding-bottom: 10px;
    }

    .faq{
        width:95%;
    }

    .fold__icon{
        width:60%;
        margin-left: 50%;
    }

    .community__emptytext{
        margin-left: 40px;
    }

    .person{
        height:75px;
        width:75px;
    }
    


}