@import '../abstracts/colors';
@import '../abstracts/fonts';

//profile mobile
.profile__container__base{
    width:90%;
    background-color:$lightpurple;
    border-radius: 20px 20px 20px 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5%;
    margin-bottom:5%;
    padding:5%;
}

.profile{
    text-decoration: none;
    color: $darkblue;
    border-radius: 10px 10px 10px 10px;
    padding-top: 4%;
    padding-bottom: 2%;
    display:grid;
    grid-template-columns: 1fr 2fr;
}


.profile__pic{
    width:80%;
    margin-left: 4%;
    margin-top: 22%;
}

.profile__name{
    text-decoration: none;
    font-family: $title;
    font-weight: bold;
    color:$orange;
    font-size: 25px;
    margin-bottom: 5%;
    margin-left: 3%;
    margin-top:10%;
}

.profile__business{
    font-family: $normal;
    color: $darkblue;
    font-size: 20px;
    margin-bottom: 5%;
    margin-left: 3.5%;
    margin-top:5%;
}

.profile__extra__icons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:80%;
    margin-top:0%;
}

.profile__extra__icons a img{
    width:100%;
}

.profile__info__container{
   background-color: $lightgray; 
   width:90%;
   margin-left:auto;
   margin-right:auto;
   border-radius: 20px 20px 20px 20px;
   margin-top:5%;
   margin-bottom:5%;
   padding:7%;
}

.profile__info__title{
    color:$blue;
    font-family: $title;
    font-size: 24px;
}

.profile__info__inhoud{
   font-family: $normal;
   margin-top:2%;
   margin-bottom:10%;
}


.profile__social__icons{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:80%;
}

a{
    margin-right:0%;
    margin-left: 0%;
}

.profile__social__icons a img{
    width:50%;
    margin-top:0%;
    margin-right:2%;
}
.profile__edit{
    width:90%;
    display:flex;
    flex-direction: row;
    text-decoration: none;
    align-items: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: 0% auto 0% auto;
    background-color: $darkblue;
    border-radius: 40px 40px 40px 40px;
    background-position: center;   
}

.profile__edit__{
    text-align: center;
    font-family: $normal;
    font-size: 20px;
    color:$white;
    padding-bottom: 2%;
    margin: 1% auto 1% auto;
}