@import '../abstracts/colors';
@import '../abstracts/fonts';

button:hover{
    cursor:pointer;
}

.form--login{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top:20%;
}

.form--login__img{
    background-image: url('/img/logo1.png');
    background-position: center;
    background-size: contain;
    height:200px;
    width:200%;
    background-repeat: no-repeat;
    margin-bottom:50px;
}

.form--login__header{
    color:$loginblue;
    font-size:30px;
    font-family:$title;
    align-self: start;
    margin-bottom:10px;
}

.form--login__header--strong{
    color: $orange;
}

.form--login__fields{
    display:flex;
    flex-direction: column;
    width:100%;
}

.form--login__input{
    margin-top: 40px;
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $background;
    font-size:18px;
    font-family: $normal;
}

.form--login__input::placeholder {
    color: $darkblue; /*Change the placeholder color*/
    opacity: 1; /*Change the opacity between 0 and 1*/
}

.togglePassword{
    width:30px;
    margin-left: -30px; 
    cursor: pointer;
    position:relative;
    top:-28px;
    left:100%;
}

.form--login__forgot{
    margin-top:-18px;
    color: $orange;
    font-family: $normal;
}

.form--login__btn{
    margin-top:40px;
    width:100%;
}

.form--login__link{
    margin-top:20px;
    color: $blue;
    font-family: $normal;
    font-size:18px;
}

.form--login__link a{
    text-decoration: none;
    color: $orange;
}

.form--vertical{
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 20px;
}

.form--vertical__title{
    font-family: $normal;
    font-weight: bold;
    margin-bottom: 20px;
}

.form--vertical__text{
    font-family: $normal;
    margin-bottom: 20px;
}

.form--stage{
    font-family: $normal;
}

.form--stage__field{
    margin-top: 30px;
    flex-direction: column;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 20px;
    margin-bottom: 75px;
    display:flex;
}

.form--stage__text{
    font-size: 14px;
    font-family: $normal;
    margin-top: -10px;
}

.form--stage__field__input{
    border: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: $white;
    padding: 5%;
    border-radius: 35px;
    color: #1E3472;
}

.form--stage__field__input::placeholder {
    color: $blue; /*Change the placeholder color*/
    opacity: 1; /*Change the opacity between 0 and 1*/
}

.form--stage__field__radio{
    color: $blue;
}

.form--stage__field__btn{
    text-decoration: none;
    text-align: center;
    background-color: #E44402;
    color: white;
    font-family: "Montserrat", sans-serif;
    border-radius: 35px;
    padding: 5%;
    font-size: 20px;
    border: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media(min-width:800px){
    .form--login{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .form--login__img{
        width: auto;
    }

    .form--stage__field{
        flex-direction: column;
        width:100%;
    }
    
    .form--stage__field__input{
        padding: 2%;
        width: 80%;
    }

    .form--stage__field__btn{
        padding: 2%;
        width: 50%;
    }
}