@import '../abstracts/colors';
@import '../abstracts/fonts';

.roadmap__container{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    background-color: $lightgray;
    margin-top:50px;
    border-radius: 20px 20px 20px 20px;
}

.roadmap{
    padding:5%;
}

.roadmap__stage{
    display:flex;
    flex-direction: row;
    gap:5px;
    margin-bottom:20px;
    align-items: center;
    text-decoration: none;
}

.roadmap__stage__title{
    color: $darkblue;
    background-color: $lightblue;
    padding:3% 5% 3% 5%;
    border-radius: 5px 5px 5px 5px;
}

.roadmap__stage__number{
    color: $darkblue;
    background-color: $white;
    padding:3%;
    border-radius: 50%;
    font-family: $title;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1);
}

.roadmap__stage__number--left{
    margin-right:-5%;
    z-index:10;
}

.roadmap__stage__number--right{
    margin-left:-5%;
}

.stage__container{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    background-color: $lightgray;
    margin-top:50px;
    border-radius: 20px 20px 20px 20px;
    padding:5%;
    display:none;
}

.stage__header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.stage__header__stap{
    font-family: $title;
    color: $orange;
}

.stage{
    margin-top:20px;
}

.stage__title{
    font-family: $title;
    color: $orange;
}

.stage__text{
    margin-top:10px;
}

.stage__check{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;
    gap:20px;
}

.stagebtn {
    text-decoration: none;
    text-align: center;
    background-color: $orange;
    color: $white;
    font-family: $title;
    border-radius: 20px;
    padding:2%;
}

.stageCheckBtn{
    text-decoration: none;
    text-align: center;
    background-color: $lightblue;
    color: $white;
    font-family: $normal;
    border-radius: 20px;
    padding:2%;
    width:60%;
    align-self:center;
}