.search__container{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    background-color: $lightgray;
    border-radius: 20px 20px 20px 20px;
}

.search{
    display:grid;
    grid-template-columns: 1fr 5fr;
    gap:0px;
    align-items: center;
    
}

.search__icon{
    display: flex;
    justify-content: center;
}

.search__icon__img{
    
}

.search__input input{
    border:none;
    color: $blue;
    padding:5%;
    background-color: $lightgray;
    width: 80%;
}

.search__input input::-webkit-input-placeholder {
    color: $blue; /*Change the placeholder color*/
    opacity: 1; /*Change the opacity between 0 and 1*/
}

img.prof__pic__{
    display: none;
}

@media(min-width:800px){
    .search__container{
        margin-top: 20px;
    }

    .search{
        margin-top:0%;
        grid-template-columns: 1fr 5fr 1fr;
        padding: 1%;
    }

    .search__input{
        margin-left: -5%;
    }

    .search__input input{
        padding-top: 10px;
        padding-bottom:10px;
        padding-left:0px;
    }
    

    img.prof__pic__{
        display: flex;
        width: 25%;
        border-radius: 50%;
        margin-left:auto;
        margin-right:20%;
    }
}