@import '../abstracts/colors';
@import '../abstracts/fonts';

//signup mobile
.ill__su{
    max-width: 400px;
    margin-top: 10px;
}

.h__signup{
    font-family: $title;
    font-size: 30px;
    color: $orange;
    margin-left: 33px;
}

.cont__btns{
    display:flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin-top:20px;
    width:90%;
    margin-left:auto;
    margin-right:auto;
}

.btn__student{
    text-decoration: none;
    font-family: $normal;
    font-size: 30px;
    color: $darkblue;
    text-align: center;
    background-color: $btngray;
    border-radius: 15px 15px 15px 15px;
    padding: 15px 25px 15px 25px;
}


//signup student mobile
.ill__su__s{
    width: 400px;
    margin-top: 10px;
}
.h__signup__s{
    font-family: $title;
    font-size: 30px;
    color: $orange;
    margin-left: 33px;
    margin-bottom: 10px;
}

input::placeholder {
    color: $darkblue; /*Change the placeholder color*/
    opacity: 1; /*Change the opacity between 0 and 1*/
}

input.name{
    margin-left: 0px;
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 33px;
    padding-bottom: 10px;
    

    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $background;
    width: 330px;
}

input.date{
    margin-left: 0px;
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 33px;
    padding-bottom: 10px;
    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $background;
    width: 330px;
}

input.mail{
    margin-left: 0px;
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 33px;
    padding-bottom: 10px;
    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $background;
    width: 330px;
    
}

input.pass{
    margin-left: 0px;
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 33px;
    padding-bottom: 10px;
    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $background;
    width: 330px;
    
}

input.pass__{
    margin-left: 0px;
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 33px;
    padding-bottom: 10px;
    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $background;
    width: 330px;
}

.togglePass{
    width:30px;
    margin-left: 335px; 
    cursor: pointer;
    position:relative;
    margin-top:-80px;
    margin-bottom: 30px;
}

.__reg__student{
    font-family: $normal;
    font-size: 20px;
    color:$white;
    margin-left: 0px;
}

button.reg__student{
    text-align: center;
    background-color: $darkblue;
    border-radius: 40px 40px 40px 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 3px;
    margin-bottom: 25px;
    margin-left: 100px;
    border:none;
}


//signup student-zelfstandige mobile -- registratie & kbo & profile

.h__reg__sz{
    font-family: $title;
    font-size: 30px;
    color: $darkblue;
    margin-left: 0%;
    margin-top: 12%;
    margin-bottom: 12%;
    padding-bottom: 0px;
    text-align: center;
}

.form__sz{
    width:90%;
    background-color: $lightgray;
    border-radius: 20px 20px 20px 20px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10%;
    margin-bottom:5%;
    padding-top:5%;
    padding-bottom:5%;

}

.h__signup__sz{
    font-family: $title;
    font-size: 25px;
    color: $orange;
    margin-left:6%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-bottom: 5%;
}

.edit__icon__{
    float: right;
    width:15%;
    margin-top: 0%;
}

input::placeholder {
    color: $darkblue; /*Change the placeholder color*/
    opacity: 1; /*Change the opacity between 0 and 1*/
}

input.name__sz{
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-left:6%;
    margin-top: 0%;
    margin-bottom: 10%;
    padding-bottom: 3%;
    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $lightgray;
    width: 310px;
}

input.date__sz{
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-left:6%;
    margin-top: 0%;
    margin-bottom: 10%;
    padding-bottom: 3%;
    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $lightgray;
    width: 310px;
}

input.mail__sz{
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-left:6%;
    margin-top: 0%;
    margin-bottom: 10%;
    padding-bottom: 3%;
    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $lightgray;
    width: 310px;
}

input.pass__sz{
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-left:6%;
    margin-top: 0%;
    margin-bottom: 10%;
    padding-bottom: 3%;

    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $lightgray;
    width: 310px;
}

input.pass__sz__{
    font-family: $normal;
    font-size: 18px;
    color: $darkblue;
    margin-left:6%;
    margin-top: 0%;
    margin-bottom: 10%;
    padding-bottom: 3%;
    
    border:none;
    border-bottom: $darkblue 2px solid;
    background-color: $lightgray;
    width: 310px;
}

.togglePass__{
    width:30px;
    margin-left: 86%; 
    cursor: pointer;
    position:relative;
    margin-top:-22%;
    margin-bottom: 16%;
}

.__reg__sz{
    text-decoration: none;
    font-family: $normal;
    font-size: 20px;
    color:$white;
    margin-left: 0px;
    border:none;
    background-color: $darkblue;
}

.reg__sz{
    text-align: center;
    background-color: $darkblue;
    border-radius: 40px 40px 40px 40px;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 58%;
    border: none;
    color:$white;
    font-family: $normal;
}

.togglePunt{ //reg
    width:40%;
}


.sz__pic{ //profile pic
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius:50%;
    width:75px;
    height: 75px;
    
}

.a__prof__sz{//profile edit
    color: $orange;
    text-decoration: none;
}

.__prof__sz{
    text-align: center;
    margin-bottom:5%;
    color: $orange;
    font-family: $normal;
    font-size: 18px;
}

.container__signup__student{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.avatar{
    display:none;
}

.__prof__sz:hover{
    cursor:pointer;
}

.form__avatar{
    display:flex;
    flex-direction: column;
    margin-bottom:10px;
}

.addZelf2, .addZelf3{
    display:none;
}

.textarea__sz{
    border: none;
    border-bottom: 2px solid #50679A;
    padding: 8px;
    font-size: 1em;
    color: #526A98;
    background-color: #FAFAFA;
}

// signup desktop
@media(min-width:800px){
    .ill__su{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 450px;
        margin-top: 60px;
    }
    
    .h__signup{
        margin-left: 300px;
        margin-top: 50px;
    }

    

//signup student desktop
    .ill__su__s{
        width: 600px;
        height: 600px;
        margin-top: 100px;
    }

    .h__signup__s{
        margin-left: 733px;
        margin-bottom: 10px;
        margin-top: -475px;
    }
    
    input.name{
        width: 480px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 733px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    input.date{
        width: 480px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 733px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    input.mail{
        width: 480px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 733px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    input.pass{
        width: 480px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 733px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    input.pass__{
        width: 480px;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 733px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .togglePass{
        width:30px;
        margin-left: -30px; 
        cursor: pointer;
        position:relative;
        margin-top:-90px;
        margin-bottom:-10px;
    }
    
    .__reg__student{
        margin-left: 0px;
    }
    
    button.reg__student{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 40px;
        margin-bottom: 25px;
        margin-left:894px;
    }

    //signup student-zelfstandige desk -- registratie & kbo & profile

    .h__reg__sz{
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .form__sz{
        margin-top:2%;
        margin-bottom:3%;
        padding-top:2%;
        padding-bottom:2%;
    }

    .h__signup__sz{
        text-align: center;
        font-size: 35px;
        margin-left:0%;
        margin-top: 2%;
        margin-bottom: 1%;
        padding-bottom: 1%;
    }

    .edit__icon__{ //kbo edit icon
        float: right;
        width:5%;
        margin-top: -2%;
        margin-left: -10%;
    }

    input::placeholder {
        color: $darkblue; /*Change the placeholder color*/
        opacity: 1; /*Change the opacity between 0 and 1*/
    }

    input.name__sz{
        margin-left:29%;
        margin-top: 1%;
        margin-bottom: 2%;
        padding-bottom: 1%;
        width: 42%;
    }

    input.date__sz{
        margin-left:29%;
        margin-top: 0%;
        margin-bottom: 2%;
        padding-bottom: 1%;
        width: 42%;
    }

    input.mail__sz{
        margin-left:29%;
        margin-top: 0%;
        margin-bottom: 2%;
        padding-bottom: 1%;
        width: 42%;
    }

    input.pass__sz{
        margin-left:29%;
        margin-top: 0%;
        margin-bottom: 2%;
        padding-bottom: 1%;
        width: 42%;
    }

    input.pass__sz__{
        margin-left:29%;
        margin-top: 0%;
        margin-bottom: 2%;
        padding-bottom: 1%;
        width: 42%;
    }

    .togglePass__{
        width:30px;
        margin-left: -2.5%; 
        cursor: pointer;
        position:relative;
        margin-top:-22%;
        margin-bottom: -1%;
    }

    .reg__sz{
        padding-top: 2%;
        padding-bottom: 2%;
        width: 18%;
        text-decoration: none;
        font-family: $normal;
        font-size: 20px;
        color:$white;
        border: none;
    }

    .togglePunt{ //reg
        width:10%;
    }

    

    .sz__pic{ //profile pic
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .a__prof__sz{//profile edit
        color: $orange;
        text-decoration: none;
    }

    .__prof__sz{
        text-align: center;
        margin-bottom:2%;
        color: $orange;
        font-family: $normal;
        font-size: 18px;
    }

    .cont__btns{
        flex-direction: row;
        gap: 20%;

    }


    


}


