.dashboard__container {
  background-color: #CC000E;
}

.header--mob {
  background-color: #FAFAFA;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 20px 20px;
  height: 75px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 75px;
}

.search__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
}

.search {
  padding: 5%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.roadmap__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFAFA;
  margin-top: 50px;
  border-radius: 20px 20px 20px 20px;
}

.roadmap {
  padding: 5%;
}

.roadmap__stage {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 20px;
  align-items: center;
  text-decoration: none;
}

.roadmap__stage__title {
  color: #13204A;
  background-color: #E4E8F1;
  padding: 3% 5% 3% 5%;
  border-radius: 5px 5px 5px 5px;
}

.roadmap__stage__number {
  color: #13204A;
  background-color: white;
  padding: 3%;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

.roadmap__stage__number--left {
  margin-right: -5%;
  z-index: 10;
}

.roadmap__stage__number--right {
  margin-left: -5%;
}

body {
  background-color: #EDEFF5;
  font-family: "Lato", sans-serif;
}
