.header__container {
  display: flex;
  justify-content: center;
}

.header--mob {
  background-color: #FAFAFA;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0px 0px 20px 20px;
  height: 75px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
  display: flex;
  align-items: center;
}

.header--mob:hover {
  cursor: pointer;
}

.header--mob__img {
  background-image: url("/img/logo2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 75px;
  width: 100%;
}

.header {
  display: none;
}

.header__mob {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 60px;
  margin-right: 0px;
  margin-top: 20px;
  background-color: #FAFAFA;
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 25px;
}

.header__img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.header__links__mob {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background-color: #FAFAFA;
  border-radius: 0px 0px 20px 20px;
  position: absolute;
  z-index: 15;
  top: -1500px;
  padding-bottom: 40px;
  justify-content: center;
  width: 90%;
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}

.header__links__item__mob {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__links__item__mob--other {
  background-color: #EDEFF5;
}

.header__links__mob__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header__links__item__img__mob {
  width: 35%;
}

.header__links__item__text__mob {
  font-family: "Lato", sans-serif;
  color: #1E3472;
  font-size: 20px;
  text-decoration: none;
}

.header__logout__mob {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 800px) {
  .header--mob {
    display: none;
  }

  .header {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 20px;
    background-color: #FAFAFA;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .header__img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
  }

  .header__img img {
    width: 100%;
  }

  .header__links {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .header__links__item {
    margin-top: -10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .header__links__item:hover {
    background-color: #D1D8E8;
    border-right: #DADFEC solid 5px;
  }

  .header__links__item__img {
    width: 30%;
  }

  .header__links__item__text {
    font-family: "Lato", sans-serif;
    color: #1E3472;
  }

  .header__logout {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }

  .header__links__mob {
    display: none;
  }
}
.search__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
}

.search {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 20px;
  align-items: center;
}

.search__icon {
  display: flex;
  justify-content: center;
}

.search__icon__img {
  width: 50px;
}

.search__input input {
  border: none;
  color: #1E3472;
  padding: 5%;
  background-color: #FAFAFA;
  width: 80%;
}

.search__input input::-webkit-input-placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

@media (min-width: 800px) {
  .search__container {
    margin-top: 20px;
  }

  .search__input input {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -130px;
  }

  .search__icon {
    margin-left: -80px;
  }
}
.roadmap__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFAFA;
  margin-top: 25px;
  border-radius: 20px 20px 20px 20px;
  margin-bottom: 25px;
}

.roadmap {
  padding: 5%;
  background-image: url("/img/map_mobile.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 5;
  height: 1000px;
}

.roadmap__stage {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 20px;
  align-items: center;
  text-decoration: none;
}

.roadmap__stage__title {
  color: #13204A;
  background-color: #E4E8F1;
  padding: 20px 60px 20px 40px;
  border-radius: 10px 10px 10px 10px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.roadmap__stage__number {
  color: #13204A;
  background-color: white;
  padding: 16px 23px;
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  font-size: 26px;
  z-index: 5;
}

.roadmap__stage__title--left {
  margin-right: -40px;
}

.roadmap__stage__title--right {
  margin-left: -40px;
}

.stage__container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FAFAFA;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 20px 20px 20px 20px;
  padding: 5% 5% 10% 5%;
  display: none;
}

.stage__header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: -40px;
}

.stage__header__stap {
  font-family: "Montserrat", sans-serif;
  color: #E44402;
  font-size: 28px;
}

.stage {
  margin-top: 10px;
}

.stage__title {
  font-family: "Montserrat", sans-serif;
  color: #E44402;
  margin-top: -30px;
}

.stage__text {
  margin-top: 20px;
  font-family: "Lato", sans-serif;
}

.stage__btns {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 20px;
}

.stagebtn {
  text-decoration: none;
  text-align: center;
  background-color: #E44402;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  padding: 2%;
  font-size: 24px;
  border: none;
}

.stage__check__btn {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-content: center;
}

.stageCheckBtn {
  text-decoration: none;
  text-align: center;
  background-color: #D1D8E8;
  color: #1E3472;
  font-family: "Lato", sans-serif;
  border-radius: 25px;
  padding: 4%;
  width: 60%;
  align-self: center;
  margin-top: 20px;
  font-size: 22px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

.stageCheckBtn:hover {
  cursor: pointer;
}

.stage__header__back img {
  width: 100%;
  margin-left: -30%;
}

.stage__form__check {
  margin-top: 30px;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 20px;
  margin-bottom: 75px;
  display: none;
}

.stage__form__check__input {
  border: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EAEDF3;
  padding: 5%;
  border-radius: 35px;
  color: #1E3472;
}

.stage__form__check__btn {
  text-decoration: none;
  text-align: center;
  background-color: #E44402;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 35px;
  padding: 5%;
  font-size: 20px;
  border: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.stage__list {
  margin-top: 10px;
  list-style: circle;
  margin-left: 5%;
  font-family: "Lato", sans-serif;
}

.stage5 {
  margin-top: 20px;
  background-color: #E4E8F1;
  padding: 2% 5% 2% 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 20px 20px;
}

.stage5Checked {
  margin-top: 20px;
  background-color: #E4E8F1;
  padding: 2% 5% 2% 5%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px 20px 20px 20px;
  opacity: 0.8;
}

.stage__field {
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
}

.stage__field:hover {
  cursor: pointer;
}

.stage__field__title {
  font-family: "Montserrat", sans-serif;
  color: #1E3472;
}

.stage__field__icon {
  width: 40%;
  margin-left: auto;
}

.stage5__form {
  display: none;
}

/*roadmap verdeling */
.roadmap__stage--1 {
  position: relative;
  left: -2%;
  top: 10px;
}

.roadmap__stage--2 {
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: -10px;
}

.roadmap__stage--3 {
  position: relative;
  left: 0%;
  top: 70px;
}

.roadmap__stage--4 {
  margin-left: 40px;
  margin-top: 130px;
  margin-bottom: -10px;
}

.roadmap__stage--5 {
  margin-left: 70px;
  margin-top: 70px;
  margin-bottom: -10px;
}

.roadmap__stage--6 {
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: -10px;
}

.roadmap__stage--7 {
  margin-left: 10px;
  margin-top: 70px;
  margin-bottom: -10px;
}

.roadmap__stage--8 {
  margin-left: 40px;
  margin-top: 70px;
  margin-bottom: -10px;
}

.roadmap__next {
  display: none;
}

.stengel__icon1 {
  width: 0px;
  height: 0px;
}

.stengel__icon2 {
  width: 0px;
  height: 0px;
}

.stengel__icon3 {
  width: 0px;
  height: 0px;
}

.stengel__icon4 {
  width: 0px;
  height: 0px;
}

.stengel__icon5 {
  width: 0px;
  height: 0px;
}

.stengel__icon6 {
  width: 0px;
  height: 0px;
}

.stengel__icon7 {
  width: 0px;
  height: 0px;
}

.stengel__icon8 {
  width: 0px;
  height: 0px;
}

.category__container {
  background-color: white;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.category {
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
}

.category:hover {
  cursor: pointer;
}

.category__text, .subcategory__text {
  font-family: "Lato", sans-serif;
  color: #1E3472;
}

.category__icon, .subcategory__icon {
  width: 40%;
  margin-left: auto;
}

.subcategory__container {
  background-color: #E4E8F1;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: none;
}

.subcategory {
  display: grid;
  grid-template-columns: 8fr 4fr;
  align-items: center;
}

.subcategory:hover {
  cursor: pointer;
}

.activity__container {
  background-color: #D1D8E8;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: none;
}

.activity__container--visible {
  background-color: #D1D8E8;
  padding: 10px 15px 10px 15px;
  border-radius: 20px;
  margin-bottom: 10px;
  display: block;
}

.activity {
  display: grid;
  grid-template-columns: 10fr 2fr;
  align-items: center;
}

.activity:hover {
  cursor: pointer;
}

.activity__text {
  font-family: "Lato", sans-serif;
  color: #1E3472;
}

.activity__icon {
  margin-left: auto;
}

.briefje {
  margin-top: 50px;
}

.briefje__title {
  font-family: "Montserrat", sans-serif;
  color: #1E3472;
  font-size: 18px;
}

.briefje__text {
  font-family: "Lato", sans-serif;
  color: #1E3472;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.briefjeAdd {
  display: flex;
  justify-content: center;
}

.briefjeAdd button {
  text-decoration: none;
  text-align: center;
  background-color: #E44402;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 35px;
  padding: 5%;
  font-size: 14px;
  border: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.roadmap__back {
  display: none;
}

.stagebtn3, .stagebtn4, .stagebtn6 {
  text-decoration: none;
  color: white;
  background-color: #E44402;
  font-family: "Lato", sans-serif;
  padding: 5%;
  border-radius: 20px;
}

.stage__form__number {
  margin-top: 30px;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 20px;
  margin-bottom: 75px;
  display: none;
}

.stage__form__number__input {
  border: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EAEDF3;
  padding: 5%;
  border-radius: 35px;
  color: #1E3472;
}

.stage__form__number__input::-moz-placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.stage__form__number__input:-ms-input-placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.stage__form__number__input::placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.stage__form__number button {
  text-decoration: none;
  text-align: center;
  background-color: #E44402;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 35px;
  padding: 5%;
  font-size: 20px;
  border: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  .stage2Form {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 800px) {
  .roadmap {
    background-image: url("/img/map.png");
    background-size: cover;
    background-position: left;
    margin-top: 50px;
    height: 647px;
  }

  .roadmap__stage--1 {
    margin-top: 200px;
  }

  .stengel__icon1 {
    width: 20px;
    height: 80px;
    margin-top: 40px;
    margin-bottom: -25px;
    margin-left: -42px;
  }

  .roadmap__stage--2 {
    margin-top: -35px;
    margin-left: 320px;
  }

  .stengel__icon2 {
    width: 20px;
    height: 80px;
    margin-top: 57px;
    margin-left: -203px;
    margin-bottom: -25px;
  }

  .roadmap__stage--3 {
    margin-top: -400px;
    margin-left: 220px;
  }

  .stengel__icon3 {
    width: 20px;
    height: 80px;
    margin-top: 53px;
    margin-left: -45px;
    margin-bottom: -25px;
  }

  .roadmap__stage--4 {
    margin-top: -25px;
    margin-left: 610px;
    z-index: 10;
    position: relative;
  }

  .stengel__icon4 {
    width: 20px;
    height: 80px;
    margin-top: 53px;
    margin-left: -257px;
    margin-bottom: -25px;
  }

  .roadmap__stage--5 {
    margin-top: -252px;
    margin-left: 720px;
  }

  .stengel__icon5 {
    width: 20px;
    height: 80px;
    margin-top: 28px;
    margin-left: -45px;
    margin-bottom: -25px;
  }

  .roadmap__stage--6 {
    position: relative;
    left: -5%;
    top: -19px;
    display: none;
  }

  .stengel__icon6 {
    width: 20px;
    height: 80px;
    margin-top: 44px;
    margin-left: -292px;
    margin-bottom: -25px;
  }

  .roadmap__stage--7 {
    position: relative;
    left: 15%;
    top: -60px;
    display: none;
  }

  .stengel__icon7 {
    width: 20px;
    height: 80px;
    margin-top: 64px;
    margin-left: -45px;
    margin-bottom: -25px;
  }

  .roadmap__stage--8 {
    position: relative;
    left: 64%;
    top: -110px;
    display: none;
  }

  .stengel__icon8 {
    width: 20px;
    height: 80px;
    margin-top: 44px;
    margin-left: -277px;
    margin-bottom: -25px;
  }

  .roadmap__next {
    width: 181px;
    height: 181px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 400px;
    margin-left: 340px;
    z-index: 0;
  }

  .roadmap__back {
    width: 181px;
    height: 181px;
    display: none;
    justify-content: center;
    position: relative;
    margin-top: -500px;
    margin-left: 340px;
    z-index: 0;
  }

  .roadmap__back img {
    transform: scale(-1);
  }

  .stage__btns {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 20px;
  }

  .stage__btns--small {
    grid-template-columns: 1fr;
  }

  .stageCheckBtn {
    padding: 1%;
    width: 100%;
  }

  .stage__form__check {
    flex-direction: row;
    width: 100%;
  }

  .stage__form__check__input {
    padding: 1%;
    width: 60%;
  }

  .stage__form__check__btn {
    padding: 1%;
    width: 20%;
  }

  .stage__header {
    margin-top: -100px;
  }

  .stage__header__back img {
    width: 60%;
  }

  .stage {
    margin-top: -30px;
  }

  .stage__btns {
    gap: 40px;
  }

  .stagebtn {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .stagebtn--large {
    width: 100%;
  }

  .stage__check {
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .stage__field__icon {
    width: 20%;
  }

  .category__icon, .subcategory__icon {
    width: 20%;
  }

  .stagebtn6 {
    padding: 2%;
  }

  .stage__form__number {
    flex-direction: row;
    width: 100%;
  }

  .stage__form__number__input {
    padding: 1%;
    width: 60%;
  }

  .stage__form__number button {
    padding: 1%;
    width: 20%;
  }

  .briefjeAdd button {
    text-decoration: none;
    text-align: center;
    background-color: #E44402;
    color: white;
    font-family: "Montserrat", sans-serif;
    border-radius: 35px;
    padding: 2%;
    font-size: 14px;
    border: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}
.notification {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 20px 20px 20px 20px;
  padding: 5%;
  font-family: "Lato", sans-serif;
  margin-top: 20px;
  opacity: 0.8;
}

.notification--message {
  background-color: #FAFAFA;
}

.notification--success {
  background-color: #56C741;
  color: white;
}

.notification--error {
  background-color: #CC000E;
  color: white;
}

@media (min-width: 800px) {
  .notification {
    padding: 2%;
  }
}
button:hover {
  cursor: pointer;
}

.form--login {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20%;
}

.form--login__img {
  background-image: url("/img/logo1.png");
  background-position: center;
  background-size: contain;
  height: 200px;
  width: 200%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.form--login__header {
  color: #264290;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  align-self: start;
  margin-bottom: 10px;
}

.form--login__header--strong {
  color: #E44402;
}

.form--login__fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form--login__input {
  margin-top: 40px;
  border: none;
  border-bottom: #1E3472 2px solid;
  background-color: #EDEFF5;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.form--login__input::-moz-placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.form--login__input:-ms-input-placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.form--login__input::placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.togglePassword {
  width: 30px;
  margin-left: -30px;
  cursor: pointer;
  position: relative;
  top: -28px;
  left: 100%;
}

.form--login__forgot {
  margin-top: -18px;
  color: #E44402;
  font-family: "Lato", sans-serif;
}

.form--login__btn {
  margin-top: 40px;
  width: 100%;
}

.form--login__link {
  margin-top: 20px;
  color: #1E3472;
  font-family: "Lato", sans-serif;
  font-size: 18px;
}

.form--login__link a {
  text-decoration: none;
  color: #E44402;
}

.form--vertical {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.form--vertical__title {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}

.form--vertical__text {
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.form--stage {
  font-family: "Lato", sans-serif;
}

.form--stage__field {
  margin-top: 30px;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  gap: 20px;
  margin-bottom: 75px;
  display: flex;
}

.form--stage__text {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  margin-top: -10px;
}

.form--stage__field__input {
  border: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 5%;
  border-radius: 35px;
  color: #1E3472;
}

.form--stage__field__input::-moz-placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.form--stage__field__input:-ms-input-placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.form--stage__field__input::placeholder {
  color: #1E3472;
  /*Change the placeholder color*/
  opacity: 1;
  /*Change the opacity between 0 and 1*/
}

.form--stage__field__radio {
  color: #1E3472;
}

.form--stage__field__btn {
  text-decoration: none;
  text-align: center;
  background-color: #E44402;
  color: white;
  font-family: "Montserrat", sans-serif;
  border-radius: 35px;
  padding: 5%;
  font-size: 20px;
  border: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 800px) {
  .form--login {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .form--login__img {
    width: auto;
  }

  .form--stage__field {
    flex-direction: column;
    width: 100%;
  }

  .form--stage__field__input {
    padding: 2%;
    width: 80%;
  }

  .form--stage__field__btn {
    padding: 2%;
    width: 50%;
  }
}
.formBtn {
  width: 100%;
  border: none;
  padding: 5%;
  color: #1E3472;
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
  background-color: #DADFEC;
  font-size: 20px;
}

.formBtn:hover {
  cursor: pointer;
}

.btn {
  padding: 5% 15%;
  background-color: #DADFEC;
  color: #1E3472;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  border-radius: 15px;
}

@media (min-width: 800px) {
  .formBtn {
    padding: 2%;
  }
}
.contact__container {
  width: 90%;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  height: 580px;
}

.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto 30px auto;
  text-align: left;
  background-color: #DADFEC;
  border-radius: 20px 20px 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 300px;
}

.contact__blok {
  text-decoration: none;
  color: #13204A;
  border-radius: 10px 10px 10px 10px;
  margin: 10px auto 10px auto;
  text-align: left;
}

.contact__blok__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.contact__container__zoek {
  width: 90%;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  height: 545px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #13204A;
  font-size: 20px;
  margin-left: 33.3px;
  padding-bottom: 10px;
}

.contact__zoek {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto 30px auto;
  text-align: left;
  background-color: #CBD3E6;
  border-radius: 20px 20px 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 205px;
  width: 300px;
}

.contact__blok__zoek {
  float: right;
  text-decoration: none;
  color: #13204A;
  border-radius: 10px 10px 10px 10px;
  margin: 10px 0px 10px 90px;
  text-align: left;
}

.contact__zoek__name {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #E44402;
  font-size: 20px;
}

.contact__zoek__mail {
  font-family: "Lato", sans-serif;
  color: #13204A;
  font-size: 16px;
}

.contact__zoek__link {
  font-family: "Lato", sans-serif;
  color: #13204A;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: #13204A;
  border-radius: 10px 10px 10px 10px;
  margin: 10px auto 10px 60px;
  padding-top: 10px;
  text-align: left;
}

.icon1 {
  float: left;
  display: flex;
  flex-direction: row;
  max-width: 20%;
  max-height: 20%;
  margin-top: -90px;
  margin-left: 0px;
  padding-top: 100px;
  padding-left: 0px;
}

.icon2 {
  float: left;
  display: flex;
  flex-direction: row;
  max-width: 20%;
  max-height: 20%;
  margin-top: -145px;
  margin-left: -43px;
  padding-top: 145px;
  padding-left: 0px;
}

.icon3 {
  float: left;
  display: flex;
  flex-direction: row;
  max-width: 20%;
  max-height: 20%;
  margin-top: -150px;
  margin-left: 0px;
  padding-top: 145px;
  padding-left: 0px;
}

.pic1 {
  float: left;
  margin-bottom: 0px;
  margin-left: -75px;
  margin-top: -10px;
}

.pic2 {
  float: left;
  margin-top: -10px;
  margin-bottom: 0px;
  margin-left: -75px;
  padding-top: -10px;
}

.detail__container__base {
  width: 350px;
  height: 200px;
  background-color: #CBD3E6;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
}

.back___icon {
  max-width: 50%;
  max-height: 50%;
  margin-top: -80px;
  margin-bottom: -30px;
  margin-left: -10px;
}

.detail {
  float: right;
  text-decoration: none;
  color: #13204A;
  border-radius: 10px 10px 10px 10px;
  padding: 20px 0px 20px 0px;
  margin: -10px 0px 10px 130px;
  text-align: left;
}

.detail__pic {
  width: 100px;
  float: left;
  margin-left: -110px;
  margin-top: -5px;
}

.detail__name {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #E44402;
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.detail__functie {
  font-family: "Lato", sans-serif;
  color: #13204A;
  font-size: 18px;
  margin-left: 10px;
}

.detail__icon1 {
  float: left;
  display: flex;
  flex-direction: row;
  max-width: 25%;
  max-height: 25%;
  margin-top: -30px;
  margin-left: -5px;
  padding-top: 95px;
  padding-left: 0px;
}

.detail__icon2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 20%;
  max-height: 20%;
  margin-top: -170px;
  margin-left: 40px;
  padding-top: 175px;
  padding-left: 0px;
}

.detail__icon3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  max-width: 20%;
  max-height: 20%;
  margin-top: -150px;
  margin-left: 100px;
  padding-top: 105px;
  padding-left: 0px;
}

.bio__container {
  width: 516.59px;
}

.info__container {
  width: 350px;
  height: 500px;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
}

.bio {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #13204A;
  font-size: 20px;
  margin-left: 33.3px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.bio__inhoud {
  font-family: "Lato", sans-serif;
  color: #13204A;
  font-size: 18px;
  margin-left: 33.3px;
  margin-right: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  line-height: 20pt;
}

.tijd {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #13204A;
  font-size: 20px;
  margin-left: 33.3px;
  margin-top: 15px;
  padding-bottom: 10px;
}

.icon__cal {
  float: left;
  display: flex;
  flex-direction: row;
  max-width: 20%;
  max-height: 20%;
  margin-left: 20px;
  margin-top: -12px;
}

.icon__clock {
  float: left;
  display: flex;
  flex-direction: row;
  max-width: 20%;
  max-height: 20%;
  margin-left: -70px;
  margin-top: 0px;
}

.day {
  font-family: "Lato", sans-serif;
  color: #13204A;
  font-size: 18px;
  margin-left: 33.3px;
  margin-right: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.hour {
  font-family: "Lato", sans-serif;
  color: #13204A;
  font-size: 18px;
  margin-left: 85px;
  margin-right: 0px;
  margin-top: 25px;
  padding-bottom: 10px;
}

@media (min-width: 800px) {
  .contact__container {
    height: 220px;
    margin-top: 50px;
  }

  .contact {
    float: left;
    margin-left: 30px;
    margin-right: 0px;
    width: 282px;
  }

  .contact__blok__title {
    font-size: 23px;
  }

  .contact__container__zoek {
    margin-top: 50px;
    margin-bottom: 0px;
    height: 379px;
  }

  .pic1 {
    margin-top: -10px;
  }

  .contact__zoek {
    float: left;
    margin-left: 30px;
    margin-right: 0px;
  }

  .detail__container__ {
    width: 90%;
    background-color: #FAFAFA;
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-top: 25px;
    height: 662px;
  }

  .detail__container__base {
    margin-top: 23px;
  }

  .info__container {
    width: 500px;
    height: 350px;
    margin: 20px auto 10px auto;
    padding: 0px;
  }

  .bio {
    margin-top: 30px;
    margin-left: 315px;
  }

  .bio__inhoud {
    margin-left: 315px;
    margin-right: -150px;
    font-size: 16px;
    line-height: 12pt;
  }

  .tijd {
    margin-bottom: 10px;
    margin-left: 315px;
    margin-top: 30px;
  }

  .icon__cal {
    margin-top: -15px;
    margin-left: 295px;
    max-width: 15%;
    max-height: 15%;
  }

  .day {
    padding-top: 15px;
    margin-left: 375px;
    margin-right: -150px;
  }

  .icon__clock {
    margin-top: 0px;
    max-width: 15%;
    max-height: 15%;
    margin-left: -77px;
  }

  .hour {
    padding-top: 5px;
    margin-left: 375px;
  }
}
.comm__container {
  width: 90%;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  height: 1150px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #E44402;
  margin-left: 33.3px;
  padding-bottom: 10px;
}

.edit__icon {
  float: right;
  max-width: 10%;
  max-height: 10%;
  margin-top: -40px;
  margin-bottom: -30px;
  margin-right: 20px;
}

.comm {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto 30px auto;
  text-align: left;
  background-color: #DADFEC;
  border-radius: 20px 20px 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 300px;
}

.comm__blok {
  text-decoration: none;
  color: #13204A;
  border-radius: 10px 10px 10px 10px;
  margin: 10px auto 10px auto;
  text-align: left;
}

.comm__blok__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.comm__ {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto 30px auto;
  text-align: left;
  background-color: #13204A;
  border-radius: 20px 20px 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 300px;
}

.comm__blok__ {
  text-decoration: none;
  color: white;
  border-radius: 10px 10px 10px 10px;
  margin: 10px auto 10px auto;
  text-align: left;
}

.comm__blok__title__ {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.edit__container {
  width: 90%;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  height: 1510px;
}

.back__icon {
  max-width: 20%;
  max-height: 20%;
  margin-top: -100px;
  margin-bottom: -25px;
  margin-left: 10px;
}

.edit {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto 30px auto;
  text-align: left;
  background-color: #DADFEC;
  border-radius: 20px 20px 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 300px;
}

.edit:hover, .edit__:hover {
  cursor: pointer;
}

.edit__blok {
  text-decoration: none;
  color: #13204A;
  border-radius: 10px 10px 10px 10px;
  margin: 10px auto 10px auto;
  text-align: left;
}

.edit__blok__title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.edit__ {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto 30px auto;
  text-align: left;
  background-color: #13204A;
  border-radius: 20px 20px 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  height: 150px;
  width: 300px;
}

.edit__blok__ {
  text-decoration: none;
  color: white;
  border-radius: 10px 10px 10px 10px;
  margin: 10px auto 10px auto;
  text-align: left;
}

.edit__blok__title__ {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

.checked__icon1 {
  float: right;
  margin-top: -50px;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: -45px;
}

.checked__icon2 {
  float: right;
  margin-top: -50px;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: -45px;
}

.checked__icon3 {
  float: right;
  margin-top: -50px;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: -45px;
}

.checked__icon4 {
  float: right;
  margin-top: -50px;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: -45px;
}

.checked__icon5 {
  float: right;
  margin-top: -50px;
  margin-left: 200px;
  margin-right: -45px;
}

.unchecked__icon1 {
  float: right;
  margin-top: -50px;
  margin-left: 200px;
  margin-right: -38px;
}

.unchecked__icon2 {
  float: right;
  margin-top: -50px;
  margin-left: 200px;
  margin-right: -38px;
}

.unchecked__icon3 {
  float: right;
  margin-top: -50px;
  margin-left: 200px;
  margin-right: -25px;
}

.group__container {
  width: 90%;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 20px;
}

.group__icon {
  display: grid;
  grid-template-columns: 2fr 6fr;
  align-items: center;
}

.__back__icon__ {
  width: 100%;
}

.group__title {
  margin-left: 0px;
}

.group__blok {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.faq__container {
  width: 90%;
  background-color: #FAFAFA;
  border-radius: 20px 20px 20px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.faq__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #13204A;
  padding-bottom: 10px;
  margin-left: 30px;
}

.faq {
  margin: 10px auto 30px auto;
  text-align: left;
  background-color: #DADFEC;
  border-radius: 20px 20px 20px 20px;
  padding: 5px 35px 5px 35px;
  width: 90%;
}

.faq__blok {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}

.question {
  float: left;
  font-family: "Lato", sans-serif;
  color: #13204A;
  font-size: 18px;
}

.faq__answer {
  display: none;
  font-family: "Lato", sans-serif;
  margin-bottom: 20px;
}

.fold__icon {
  width: 90%;
  margin-left: 50%;
}

.fold__icon:hover {
  cursor: pointer;
}

.ask {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;
  margin: 10px 0px 30px Opx;
  text-align: center;
  background-color: #13204A;
  border-radius: 40px 40px 40px 40px;
  background-position: center;
  height: 50px;
  width: 300px;
}

.ask__question {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: white;
  padding-bottom: 10px;
  margin: 35px auto 30px auto;
}

.community__emptytext {
  font-family: "Lato", sans-serif;
  color: #1E3472;
  margin-top: 20px;
  margin-left: 33.3px;
}

@media (min-width: 800px) {
  .comm__container {
    height: 649px;
    margin-top: 50px;
  }

  .edit__icon {
    float: right;
    max-width: 7%;
    max-height: 7%;
    margin-top: -45px;
    margin-bottom: -30px;
    margin-right: 30px;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: #E44402;
    margin-left: 40px;
    padding-bottom: 10px;
  }

  .comm {
    float: left;
    text-align: left;
    margin-left: 40px;
    height: 150px;
    width: 270px;
  }

  .comm__ {
    float: left;
    text-align: left;
    margin-left: 40px;
    height: 150px;
    width: 270px;
  }

  .edit__container {
    margin-top: 50px;
    height: 649px;
  }

  .back__icon {
    float: left;
    max-width: 10%;
    max-height: 10%;
    margin-top: -35px;
    margin-bottom: -25px;
    margin-left: 10px;
    margin-right: -70px;
  }

  .edit {
    float: left;
    margin: 12px 0px 30px 40px;
    height: 150px;
    width: 270px;
  }

  .edit__ {
    float: left;
    margin: 12px 0px 30px 40px;
    height: 150px;
    width: 270px;
  }

  .checked__icon1 {
    margin-left: 200px;
    margin-right: -15px;
  }

  .checked__icon2 {
    margin-left: 200px;
    margin-right: -15px;
  }

  .checked__icon3 {
    margin-left: 200px;
    margin-right: -15px;
  }

  .checked__icon4 {
    margin-left: 200px;
    margin-right: -15px;
  }

  .checked__icon5 {
    margin-left: 200px;
    margin-right: -15px;
  }

  .unchecked__icon1 {
    margin-left: 200px;
    margin-right: -15px;
  }

  .unchecked__icon2 {
    margin-left: 200px;
    margin-right: -15px;
  }

  .unchecked__icon3 {
    margin-left: 200px;
    margin-right: -13px;
  }

  .group__container {
    width: 90%;
    background-color: #FAFAFA;
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .group__icon {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
  }

  .__back__icon__ {
    width: 100%;
  }

  .group__title {
    margin-left: 0px;
  }

  .group__blok {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 20px;
  }

  .faq__container {
    width: 90%;
    background-color: #FAFAFA;
    border-radius: 20px 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-top: 25px;
  }

  .ask {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px 50px 27px;
    text-align: center;
    background-color: #13204A;
    border-radius: 40px 40px 40px 40px;
    background-position: center;
    height: 50px;
    width: 300px;
  }

  .ask__question {
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: white;
    padding-bottom: 10px;
  }

  .faq {
    width: 95%;
  }

  .fold__icon {
    width: 60%;
    margin-left: 50%;
  }

  .community__emptytext {
    margin-left: 40px;
  }
}
.chat__container {
  width: 90%;
  background-color: #CBD3E6;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.chat__container span, .chat__container div, .chat__container input {
  font-family: "Lato", sans-serif;
}

.chat__list {
  min-width: 300px;
  width: 35%;
}

.chat__detail {
  width: 65%;
  border-radius: 0 20px 20px 0;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.chat__list__overview {
  overflow-y: scroll;
  height: calc(100vh - 175px);
}

.chat__list__overview::-webkit-scrollbar-track {
  background-color: #13204A;
}

.chat__list__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px;
}

.chat__list__heading__h1 {
  color: #13204A;
  margin: 0;
  padding: 0;
}

.chat__list__heading__profile {
  height: 40px;
  margin-right: 10px;
}

.chat__list__heading__new-message {
  display: flex;
  margin-left: auto;
}

.chat__list__heading__new-message img {
  height: 40px;
}

#search-chat {
  width: 100%;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 8px;
  padding-left: 35px;
  font-size: 1em;
  padding-bottom: 3px;
}

#search-chat::-moz-placeholder {
  color: #13204A;
}

#search-chat:-ms-input-placeholder {
  color: #13204A;
}

#search-chat::placeholder {
  color: #13204A;
}

.chat__search-bar {
  position: relative;
  margin-bottom: 35px;
  padding: 15px;
}

.chat__search-bar__icon {
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translateY(-50%);
  height: 18px;
}

.chat__list__person {
  width: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.chat__list__person:hover {
  background-color: #B5C0D9;
  transition: background-color 0.2s ease-out;
}

.chat__list__person--active, .chat__list__person--active:hover {
  background-color: #99A9CE;
}

.chat__list__person--unread {
  font-weight: 600;
}

.chat__list__profile {
  height: 55px;
  margin-right: 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.chat__list__name {
  font-size: 1.3em;
  color: #13204A;
}

.chat__list__preview {
  font-size: 0.9em;
  color: #13204A;
}

.chat__detail__heading {
  background-color: #CBD3E6;
  border-radius: 0 20px 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
}

.chat__detail__heading__profile {
  height: 40px;
}

.chat__detail__heading__name {
  font-size: 1.35em;
  color: #13204A;
  margin-left: 10px;
  font-weight: 600;
}

.chat__detail__icons {
  margin-left: auto;
  margin-right: 10px;
}

.chat__detail__icons img {
  height: 25px;
  cursor: pointer;
}

.chat__detail__icons img:first-child {
  margin-right: 15px;
}

.chat__detail__messages {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 20px;
}

.chat__message {
  width: 60%;
  display: flex;
  padding: 10px;
  border-radius: 15px;
  line-height: 24px;
}

.chat__message--from {
  background-color: #CBD3E6;
  color: #1E3472;
}

.chat__message--to {
  background-color: #1E3472;
  color: #CBD3E6;
  margin-left: auto;
}

.chat__detail__send-message {
  margin-top: auto;
  padding: 15px;
  display: flex;
  flex-direction: row;
}

.chat__detail__send-message input {
  height: 45px;
  outline: none;
  border: none;
  border-radius: 50px;
  background-color: #DADFEC;
  font-size: 1em;
  color: #13204A;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 3px;
}

.chat__detail__send-message input:first-child {
  flex: 1 0;
}

.chat__detail__send-message input[type=submit] {
  background-color: #13204A;
  color: #DADFEC;
  margin-left: 10px;
  cursor: pointer;
}

.chat__detail__send-message input::-moz-placeholder {
  color: #13204A;
}

.chat__detail__send-message input:-ms-input-placeholder {
  color: #13204A;
}

.chat__detail__send-message input::placeholder {
  color: #13204A;
}

.chat__detail__messages {
  height: 100%;
}

body {
  background-color: #EDEFF5;
}

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

strong {
  font-weight: bold;
}

@media (min-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 3fr 9fr;
  }
}
