$red: #CC000E;
$green: #56C741;
$white: #ffff;
$blue: #1E3472;
$background: #EDEFF5;
$lightgray : #FAFAFA;
$darkblue: #13204A;
$gray: #E4E8F1;
$orange: #E44402;
$lightblue: #D1D8E8;
$bluegray: #EAEDF3;
$loginblue: #264290;
$btngray: #B2BEDA;
$darkgray: #DADFEC;
$lightpurple:#CBD3E6;

